.sidebar {
  width: 280px;
  height: 90vh;
  background: #ffffff;          /* white background */
  color: black;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: sticky;
  top: 0;
  transition: 0.3s ease;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* soft shadow */
}

.sidebar {
  position: relative;
}

/* COLLAPSED MODE */
.sidebar.collapsed {
  width: 70px;
}

/* TOGGLE BUTTON - TOP RIGHT */
.toggle-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  background: transparent;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* USER INFO */
.user-info {
  margin-top: 50px;
  font-size: 30px;
  word-break: break-word;   /* forces long email/name to wrap */
  overflow-wrap: break-word;
  align-items: center;   /* horizontal center */
  justify-content: center;
  text-align: center;
}

/* ROLE TAG */
.role {
  display: inline-block;
  margin-top: 5px;
  font-size: 25px;
  padding: 3px 8px;
  border-radius: 5px;
  color: #111;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
  margin-top: 50px;
}

.menu a {
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s;
  text-align: center;
  font-size: 25px;
}

.menu a:hover {
  background: #374151;
}

/* LOGOUT */
.logout-btn {
  margin-top: auto;
  padding: 10px;
  background: blue;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}
